
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #C5E4E7;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: white;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10vh auto;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(48, 48, 48, 0.411);
}

.outputContainer {
    background-color: #00474A;
    width: 90%;
    margin: 5vh 0 2vh 0;
    padding: 10px;
    color: #05f2ff;
}

.minicontainer {
    margin: auto auto;
}

li {
    list-style: none;
    border: 1px solid black;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}

.amounttopay, .amountyougive {
    margin-top: 1vh;
    padding: 10px 5px;
    border: 1px solid black;
}

.next, .calculate {
    padding: 8px 20px;
    display: block;
    margin-top: 3vh;
    border: 1px solid black;
}

.description {
    margin-top: 2vh;
}


.hide{
    display: none;
}

#output table, th, td{
    padding: 0.2rem;
    color: black;
    background-color: #05f2ff;
    border: 1px solid black ;
    border-collapse: collapse;
}
.numofnotes{
    background-color:white;
    font-weight: bold;
}

table{
    width: 100%;
    table-layout: fixed;
    margin-top: 3vh;
    font-size: .6rem;
    border: 2px solid black ;
    border-collapse: collapse;
}

th,td{
    word-wrap: break-word;
    border: 2px solid black ;
    border-collapse: collapse;
}

.error {
    margin-top: 2vh;
    color: red;
}

label {
    display: block;
    font-size: .7rem;
    margin-top: 5vh;
}

.connect {
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00474A;
    color: white;
    padding: 15px;
}

.footerlink {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerlink a {
    text-decoration: none;
    color: white;
    margin-left: 4vw;
    margin-top: 4vh;
    font-weight: bold;
}

@media only screen and (min-width: 700px) {
    .container {
        width: 50vw;
    }
}